body {
  font-family: "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.imgpc{
  display: block;
}

p {
  font-size: 18px;
}

.img-mobile{
  display: none;
}

header {
  text-align: center;
  background-color: rgba(150, 228, 255, 1);
  padding: 1vw;
  border-radius: 25px;
  margin-top: 5vw;
}

h1 {
  font-size: 45px;
}

nav {
  text-align: center;
  background-color: white;
  padding: 0;
  font-size: 21px;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.begin {
  display: flex;
  list-style-position: inside;
  text-align: center;
  font-size: 1.2vw;
  list-style: none;
  justify-content: center;
}

li.begin {
  margin-left: 2vw;
  margin-right: 2vw;
}

a.begin {
  color: rgba(150, 228, 255, 1);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

a:hover {
  text-decoration: underline;
  font-style: oblique;
}

main {
  padding: 2vw;
}

section.ik {
  background-color: rgb(170, 128, 255);
  padding: 1vw;
  border-radius: 20px;
}

h2 {
  padding: 0.8vw;
  font-size: 33px;
  color: rgb(170, 128, 255);
  border-radius: 15px;
}

img.games {
  float: right;
  width: 15vw;
  height: 9vw;
  padding: 0, 5vw;
}

.hobbie {
  margin-right: 47vw;
}

h2.hobby {
  color: rgb(255, 153, 255);
}

section.hobby {
  background-color: rgb(255, 153, 255);
  padding: 1vw;
  border-radius: 25px;
}

section.leren {
  background-color: rgba(150, 228, 255, 1);
  padding: 1vw;
  border-radius: 25px;
}

a.rondvaart {
  color: black;
}

h3 {
  padding: 0.8vw;
  font-size: 33px;
  border-radius: 15px;
  color: rgba(150, 228, 255, 1);
}

section.beach {
  background-color: rgb(170, 128, 255);
  padding: 1vw;
  border-radius: 25px;
}

div.beach {
  display: flex;
  flex-direction: row;
}

img.hond {
  width: 14vw;
  height: 14vw;
  float: right;
  padding: 1vw;
}

h4 {
  font-size: 33px;
  padding: 0.8vw;
  color: rgb(170, 128, 255);
  border-radius: 15px;
}

h4.beach {
  padding: 0.8vw;
  width: 100%;
}

section.media {
  background-color: rgba(150, 228, 255, 1);
  padding: 1vw;
  border-radius: 25px;
}

p.media {
  margin-right: 58vw;
}
h4.mediatel {
display: none;
}

h4.medialap {
  background-color: white;
  color: rgba(150, 228, 255, 1);
}

.socialMedia {
  border: 1px solid black;
}

td {
  background-color: rgb(4000, 170, 5800);
}

td.rij {
  background-color: rgb(500000, 200, 65000);
  color: purple;
}

table {
  width: 55vw;
  table-layout: auto;
  overflow: auto;
  border-collapse: collapse;
  float: right;
  margin-right: 1vw;
  font-size: 18px;
}

th {
  background-color: rgb(4000, 130, 5800);
  color: purple;
}

th.rij {
  background-color: rgb(4000, 160, 5800);
}

@media only screen and (max-width: 600px) {
h4.medialap {
  display: none;
}
h4.mediatel {
  display: block;
  color: rgba(150, 228, 255, 1);
}

  div.beach {
    flex-direction: column;
  }

  .img-pc{
    display: none;
  }

  .img-mobile {
    display: block;
  }

  body {
    font-size: 16px;
  }

  .hobbie {
    margin: 0;
  }

  img.games {
    display: none;
  }

  img.hond {
    width: 50%;
    height: 50%;
    margin-top: 0;
  }

  ul.begin {
    margin: auto;
    padding: auto;
  }

  li.begin {
    font-size: 14px;
  }

  table.socialMedia {
    font-size: 12px;
    width: 100%;
    display: inline-table;
    margin: auto;
  }

  p.media {
    margin: 0;
  }

  h1 h2 h3 h4 {
    font-size: 22px;
  }
}